.menu {
    display: flex;
    width: 100%;
    height: 115px;
    justify-content: space-around;
    align-items: center;
}
.menu__principal {
    display: flex;
    justify-content: space-around; 
    width: 100%;
}
.menu__logo{
    padding-right: 1rem;
}
.menu__buscador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;

    position: static;
    width: 393px;
    height: 40px;
    left: calc(50% - 393px/2 + 104px);
    top: 5px;
    
    background: #F5F5F5;
    border-radius: 20px;
 
}

.menu__buscar{
    background: #F5F5F5;
    border: transparent;
    width: 100%;
    height: 28px;
    padding: auto;
    font-size: .9rem;
}
.menu__buscar:hover{
    font-size: 1rem;
}

.menu__botaoBuscar {
    border: transparent;
    background: #F5F5F5;
}
.menu__botaoBuscar:hover{
    cursor: pointer;  
   
}
.menu__navBotao{
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #2A7AE4;
}
.Botao1{
   
    border: 1px solid #2A7AE4;
    box-sizing: border-box;
    position: static;
    width: 182px;
    height: 51px;
    left: 954px;
    top: 32px;
    
}
.Botao1:hover{
    cursor: pointer;
    background: #D4E4FA;
    font-size: 1.2rem;
}
@media (max-width: 768px) {
    .menu {
        display: flex;
        width: 100%;
        height: 72px;
        justify-content: space-between;
        align-items: center;
    }
    .menu__principal {
        display: flex;
        justify-content: space-around; 
        width: 100%;
    }
    .menu__logo{
        display: flex;
        width: 100px;
        height: 28px;
        left: 16px;
        top: 22px;
        padding: 0 0;      
        order: 0;
        flex-grow: 0;

    }
    .menu__buscador {
        display: flex;
        width: 24px;
        height: 40px;
        border-radius: 0%;
        background: #FFFFFF;
        padding: 0 0;
        order: 3;
        margin: 0 15px 0 0;
    }
    .menu__buscador:hover{
        background: #FFFFFF;
    }
    
    .menu__buscar{
        border: transparent;
        background: #F5F5F5;
        width: 0%;
        height: 28px;
        padding: 0;
        order: 3;
       
    }
    .menu__botaoBuscar {
        background: #FFFFFF;
        position: static;
        left: 90.82%;
        right: 4.44%;
        top: 38.15%;
        bottom: 38.15%;

        flex: none;
        order: 3;
        flex-grow: 0;
        margin: auto;
        padding: 0 0;

      
    }
    .Botao1{
        position: static;
        width: 133px;
        height: 40px;
        left: 133.98px;
        top: 16px;
        background: #FFFFFF;


    
    }
}